<%- include('../layout/userLayouts/header') -%>
    <!-- ================== Sign UP Box Area ================== -->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Forgot Password</h3>
                        <form class="row login_form" action="" method="post"
                            onsubmit="return validateForm('signupForm')" id="signupForm">
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                <div id="emailError" class="error-message text-danger"></div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn"> Send Reset Link</button>
                                <a href="#"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================End Sign Up Box Area =================-->

        </body>

        </html>