<%- include('../layout/userLayouts/header') -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- ================== Sign UP Box Area ================== -->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Forgot Password</h3>
                        <form class="row login_form" action="" method="post"
                            onsubmit="return validateForgotPasswordForm('signupForm')" id="signupForm">
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                <span id="emailError" style="color: red;"></span>
                            </div>
                            <% if(typeof message !=='undefined' ) { %>
                                <p>
                                    <%= message %>
                                </p>
                                <% } %>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="primary-btn"> Send Reset
                                            Link</button>
                                        <a href="#"></a>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================End Sign Up Box Area =================-->

    <!-- Add this script to your HTML file -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script>
        function validateForgotPasswordForm(formId) {
            var valid = true;

            // Email Validation
            var email = $("#" + formId + " #email").val();
            if (!email || email.trim() === "") {
                $("#" + formId + " #emailError").html("Email is required");
                valid = false;
            } else if (!isValidEmail(email)) {
                $("#" + formId + " #emailError").html("Enter a valid email address");
                valid = false;
            } else {
                $("#" + formId + " #emailError").html(""); // Clear error message if valid
            }

            return valid;
        }

        function isValidEmail(email) {
            // You can implement your email validation logic here
            return true;
        }
    </script>

    </body>

    </html>