<%- include('../layout/userLayouts/header') -%>

    <!-- ================== Reset Password Box Area ================== -->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Change Password Form -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                        <div class="card-body">
                            <form action="/resetPassword" method="post" onsubmit="return validateResetPasswordForm()">
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" name="newPassword" class="form-control" value="">
                                    <div id="newPasswordError" style="color: red;"></div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" name="confirmPassword" class="form-control" value="">
                                    <div id="confirmPasswordError" style="color: red"></div>
                                </div>
                                <% if (typeof message !=='undefined' ) { %>
                                    <p>
                                        <%= message %>
                                    </p>
                                    <% } %>
                                        <div class="text-center">
                                            <button type="submit" id="updatePasswordBtn"
                                                class="btn btn-info btn-fill">Update Password</button>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Reset Password Box Area =================-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function validateResetPasswordForm() {
            var valid = true;

            // New Password Validation
            var newPassword = $("input[name='newPassword']").val();
            if (!newPassword || newPassword.trim() === "") {
                $("#newPasswordError").html("New Password is required");
                valid = false;
            } else if (!/^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/.test(newPassword)) {
                $("#newPasswordError").html("New Password should be at least 8 characters long, contain an uppercase letter, a digit, and a special character");
                valid = false;
            } else {
                $("#newPasswordError").html("");
            }

            // Confirm Password Validation
            var confirmPassword = $("input[name='confirmPassword']").val();
            if (!confirmPassword || confirmPassword.trim() === "") {
                $("#confirmPasswordError").html("Confirm your password");
                valid = false;
            } else if (confirmPassword !== newPassword) {
                $("#confirmPasswordError").html("Passwords do not match");
                valid = false;
            } else {
                $("#confirmPasswordError").html("");
            }

            return valid;
        }
    </script>

    </body>

    </html>