<div class="wrapper">
    <div class="sidebar " data-color=orange>
        <!-- data-image="/userAssets/profile/img/sidebar-5.jpg" -->
        <!--
     Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

     Tip 2: you can also add an image using data-image tag
 -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">

                </a>
            </div>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link active" href="/profile">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>profile</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link " href="/editProfile">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Edit profile</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/orders">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Orders</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/manageAddress">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Manage Address</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/wallet">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Wallet</p>
                    </a>
                </li>



            </ul>
        </div>
    </div>